.clients {
  &__title {
    margin-bottom: 30px;
    text-align: center;
    font-size: 28px;
    font-weight: 700;
    letter-spacing: 0.03em;

    @media screen and (min-width: 1200px) {
      font-size: 36px;
      margin-bottom: 50px;
    }
  }
  &__list {
    @include centerFlex;
    flex-wrap: wrap;
    gap: 30px;
    .client {
      &__link {
        @include centerFlex;
        padding: 15px 51px;
        border: 1px solid $icon-color-default;
        color: $icon-color-default;
        border-radius: 4px;
        transition: 250ms linear;
        transition-timing-function: $cubic;
        &:hover,
        &:focus,
        &:focus-within {
          color: $highlighted-color;
          border-color: $highlighted-color;
        }

        @media screen and (min-width: 768px) {
          padding: 15px 59px;
        }

        @media screen and (min-width: 1200px) {
          padding: 15px 31px;
        }
      }
      &__icon {
        width: 106px;
        height: 60px;
        fill: currentColor;
      }
    }
  }
}
