.footer {
  background-color: $main-bg-color;
  &__container {
    @include createFlex($align: center, $direction: column);
    text-align: center;

    @media screen and (min-width: 768px) {
      justify-content: space-around;
      align-items: flex-start;
      flex-direction: row;
      flex-wrap: wrap;
    }

    @media screen and (min-width: 1200px) {
      justify-content: space-between;
      text-align: start;
    }
  }
  .address {
    margin-top: 6px;
    font-style: normal;
    &__list {
      width: 231px;
      row-gap: 9px;
    }
    &__item {
      line-height: 1.71;
      letter-spacing: 0.03em;
      color: $white;
    }
    &__link {
      color: $white-o60;
      &:hover,
      &:focus,
      &:focus-within {
        color: $highlighted-color;
      }
    }
  }
  &__social {
    padding-top: 60px;

    @media screen and (min-width: 768px) {
      padding-top: 12px;
    }

    .social {
      &__title {
        padding-bottom: 20px;
        font-weight: 700;
        font-size: 14px;
        letter-spacing: 0.03em;
        color: $white;
        text-transform: uppercase;
      }
    }
  }
  &__suscribe {
    padding-top: 60px;

    @media screen and (min-width: 1200px) {
      padding-top: 12px;
    }

    .suscribe {
      &__title {
        padding-bottom: 20px;
        font-weight: 700;
        font-size: 14px;
        letter-spacing: 0.03em;
        color: $white;
        text-transform: uppercase;
      }
      &__form {
        @include centerFlex;
        flex-direction: column;
        gap: 20px;

        @media screen and (min-width: 1200px) {
          flex-direction: row;
          gap: 12px;
        }
      }
      &__input {
        width: 450px;
        padding: 15px 16px;
        line-height: 1.25;
        background: none;
        color: $white;
        border-radius: 4px;
        border: 1px solid $white-o30;
        box-shadow: 0px 4px 4px 0px $black-o15;

        @media screen and (min-width: 1200px) {
          width: 358px;
        }
      }
      &__btn {
        width: 200px;
        padding: 10px 0;
        @include centerFlex;
        gap: 20px;
        border-radius: 4px;
        background-color: $highlighted-color;
        color: $white;
        font-weight: 700;
        line-height: 1.875;
        box-shadow: 0px 4px 4px 0px $black-o15;
      }
      &__icon {
        width: 24px;
        height: 24px;
        fill: currentColor;
      }
    }
  }
}
