.targets {
  padding-bottom: 0;
  &__list {
    display: flex;
    justify-content: center;
    gap: 30px;
  }
  .target {
    &__item {
      width: 270px;
    }
    &__icon {
      padding: 25px 100px;
      margin-bottom: 30px;
      background-color: $third-bg-color;
      border-radius: 4px;
    }
    &__title {
      margin-bottom: 10px;
      font-size: 14px;
      font-weight: 700;
      line-height: 1.17;
      letter-spacing: 0.03em;
    }
    &__description {
      font-size: 14px;
      line-height: 1.71;
      letter-spacing: 0.03em;
    }
  }
}
