@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@700&family=Roboto:wght@400;500;700;900&display=swap');

$white: #fff;
$white-o10: #ffffff1a;
$white-o30: #ffffff4d;
$white-o60: #ffffff99;
$black: #000;
$black-o10: #0000001a;
$black-o15: #00000026;
$highlighted-color: #2196f3;
$highlighted-bg-card: #2195f3e6;
$second-text-color: #757575;
$second-text-color-o50: #75757580;
$icon-color-default: #afb1b8;
$main-text-color: #212121;
$main-text-color-o20: #21212133;
$main-bg-color: #2f303a;
$second-bg-color: #2f303acc;
$third-bg-color: #f5f4fa;
$border-color: #ececec;
$modal-bg: #00000033;

$main-text-ff: 'Roboto';
$second-text-ff: 'Raleway';

$cubic: cubic-bezier(0.4, 0, 0.2, 1);
